html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
}


#Hobby {
    text-align: center;
    background-color: red;
    background-image: linear-gradient(pink, green);
}

#dish {
    text-align: center;
    background-color: red;
    background-image: linear-gradient(blue, purple);
}

#Place {
    text-align: center;
    background-color: red;
    background-image: linear-gradient(orange, black);
}

#work {
    text-align: center;
    background-color: red;
    background-image: linear-gradient(fuchsia, lavender);
    text-shadow: none !important;
     color: blue;
}

#gam {
    text-align: center;
    background-color: red;
    background-image: linear-gradient(maroon, navy);
}
#cont {
    background-color: aquamarine;
    background-image: linear-gradient(cadetblue, aquamarine );
    
}

img {
    text-align: center;
    width;
    200px;
    height: 200px;
    transition: transform .2s;
    border: 10px solid darkcyan; 
}
img:hover {
    transform: scale(0.9)
}

.define {
    text-align: center;
    color: white;
    font-size: 20px;
}

p {
    text-align: center;
    color: white;
    font-size: 27px;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 25px auto;
    line-height: 1.3;
    font-family: 'Stint Ultra Condensed', cursive;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px #2ad172;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

h2 {
    text-align: center;
    color: white;
}

.spec {
    border-radius: 50%;

}

.line {
    width: 1500px;
    height: 6px;
    background-color: black;
    margin: 8px auto;
}

hr {
    border-top: 5px dashed red;
}

#unq {
    color: purple;
    font-size: 40px;
}

.lin2 {
    width: 150px;
    height: 6px;
    background-color: purple;
    margin: 8px auto;
}

#cartoon {
    text-align: center;
    background-color: red;
    background-image: linear-gradient(yellow, red);
}

#inspire {
    text-align: center;
    background-color: yellow;
    background-image: linear-gradient(white, brown)
}

.links {
    display: inline;
    color: blueviolet;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;

}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links:hover {
    background-color:cornsilk;
    font-size: 25px;
    text-decoration-style: underline;
}

.but {
    background-color: beige;
    border-radius: 80px;
    font-size: 50px;
}

.up {
    text-align: right;
    background-color: beige;
    border-radius: 80px;
    font-size: 50px;
}
.sp {
  color: white;
    text-shadow: none;
}

.sp h3 {
    display: inline;
}

a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}
#cont iframe {
   width: 100%; 
}